            <header id="header">

                <div class="menu_closed" id="menu_closed" title="Close Menu" data-toggle="tooltip">
                    <i class="fa fa-times"></i>
                </div>

                <div class="logo">
                    <a href="#"><img src="http://placehold.it/122x122" width="122" height="122" alt="Logo"></a>
                </div>

                <h4 class="tagline">This is a lovely area for the tagline</h4>


                <!-- .navigation -->  
                <nav class="navigation">
                    <ul class="list-unstyled">

                        <li class="home active">
                            <a href="javascript:void(0)" class="home link_menu"><i class="fa fa-home icon_menus"></i><span class="nav-label">home</span></a>
                        </li>
                        <li class="profile">
                            <a href="javascript:void(0)" class="profile link_menu"><i class="fa fa-user icon_menus"></i><span class="nav-label">profile</span></a>
                        </li>
                        <li class="service">
                            <a href="javascript:void(0)" class="service link_menu"><i class="fa fa-cog icon_menus"></i> <span class="nav-label">services</span></a>
                        </li>
                        <li class="resume">
                            <a href="javascript:void(0)" class="resume link_menu"><i class="fa fa-tasks icon_menus"></i> <span class="nav-label">resume</span></a>
                        </li>
                        <li class="portfolio">
                            <a href="javascript:void(0)" class="portfolio link_menu"><i class="fa fa-briefcase icon_menus"></i> <span class="nav-label">portfolio</span></a>
                        </li>
                        <li class="contact">
                            <a href="javascript:void(0)" class="contact link_menu"><i class="fa fa-paper-plane icon_menus"></i> <span class="nav-label">contact</span></a>
                        </li>
            

                    </ul>
                </nav>
                <!-- End .navigation -->  

                <div class="social-ul" id="header_social_ul">
                    <ul>
                        <li class="social-twitter"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-facebook"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-google"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li class="social-linkedin"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li class="social-dribbble"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                        <li class="social-behance"><a href="#" target="_blank" title="" data-toggle="tooltip" data-original-title="Behance"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>


            </header>

            <div class="header-main">
              <div class="content_wrappers">    
                  <div class="logo_wrapper">
                      <span class="site_title">
                          <a href="" title="Throne">
                              <img src="template/images/logo-top.png" alt="FlexyBlog">
                          </a>
                      </span>
                  </div>
                  <a class="nav-btn menu_close" id="btn_open_menu" href="#"><i class="fa fa-bars"></i></a>
              </div>
            </div>