<section id="resume" class="layers">
	<h2 style="display:none">resume</h2>

	<div class="page_content">

		<div class="container-fluid no-marg">
		
			<div class="row row_responsive">
				
				<div class="col-lg-11 section_general">
				
					<header class="section-header">
						<h3 class="section-title">Resume – Personal Info</h3>
						<div class="border-divider"></div>
					</header>
					
					 <div class="row section_separate">
					 
						<div class="col-md-6 resume-left">    

							<div class="title-section">
								<h2 class="section_title">Experience</h2>
								<div class="sep2"></div>
							</div>

							<ul class="attributes">
								<li class="first" *ngFor="let info of professionalInfo.experience">
									<h5>{{info.technology}} <span class="duration"><i class="fa fa-calendar color"></i> {{info.duration}}</span></h5>
									<h6><span class="fa fa-briefcase"></span> {{info.company}}</h6>
									<p>{{info.about_ur_role}}</p>
								</li>
							</ul>


							<div class="title-section">
								<h2 class="section_title">Education</h2>
								<div class="sep2"></div>
							</div>

							<ul class="attributes">
								<li class="first" *ngFor="let info of educationalDetails">
									<h5>{{info.degree}} <span class="duration"><i class="fa fa-calendar color"></i> {{info.duration}}</span></h5>
									<h6><span class="fa fa-book"></span> {{info.college}}</h6>
									<p>{{info.achievements}}</p>
								</li>
							</ul>


							
							
							
							<div class="title-section">
								<h2 class="section_title">Download my resume</h2>
								<div class="sep2"></div>
							</div>
							

							<a class="download" [href]="professionalInfo.resumeLink">
								<span data-hover="Download My Resume"><i class="fa fa-cloud-download"></i> Download My Resume</span>
							</a>

						</div>

						<div class="col-md-6 resume-right">
							
							<div class="title-section">
								<h2 class="section_title">Programming skills</h2>
								<div class="sep2"></div>
							</div>
							
							<div class="skills">
								<div *ngFor="let skill of professionalInfo.technicalSkills">
									<div class="skillbar clearfix" data-percent="80%">
										<div class="skillbar-title"><span>{{skill.name}}</span></div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent">{{skill.proficiency}}%</div>
									</div>
								</div>
								
								
							</div>
							
							<div class="title-section">
								<h2 class="section_title">Language skills</h2>
								<div class="sep2"></div>
							</div>
							

							<div class="skills">
								<div *ngFor="let lang of professionalInfo.languages">
									<div class="skillbar clearfix" data-percent="90%">
										<div class="skillbar-title"><span>{{lang.name}}</span></div>
										<div class="skillbar-bar"></div>
										<div class="skill-bar-percent">{{lang.proficiency}}%</div>
									</div>
								</div>
								
							</div>

							<div class="title-section">
								<h2 class="section_title">Awards</h2>
								<div class="sep2"></div>
							</div>

							<ul class="attributes">
								<li *ngFor="let award of awards">
									<h5>{{award.name}}</h5>
									<h6><span class="fa fa-trophy"></span> {{award.organization}}</h6>
									<p>{{award.description}}</p>
								</li>
								

							</ul>

						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>